## 恢复集群中当前 不健康的索引
Cmd   RecoveryUnhealthIndices

## 记录当前业务使用共用的文件配置，包含IPPort地址, 证书路径等
CommonFile  ./common_file.cfg


## 校验的集群名称，写操作为了避免出错，会校验集群名称
ClusterName  HaveTryTwo_First_One

## 等待时间，默认为10s
WaitSeconds  1

## 恢复的方向，对索引排序后可以指定，具体如下：
## - 正向: 0 (如果没有指定，则为默认值)
## - 逆向: 1
## - 双向: 2 (同时从正向和逆向恢复)
OpDirection 1

## 一次恢复索引的个数，默认为1，最大为4
OpIndexNum 3
